/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL VIEWPORT FIX */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* REMOVE ANY DEFAULT BACKGROUND */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #020617;
  overflow-x: hidden;
}
